<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻发布系统</title>
<link rel="stylesheet" href="./css/style.css" />
</head>
<body>
<div class="box">
	<div class="top">
		<div class="title">新闻发布系统</div>
		<div class="nav">
			<a href="./index.php">返回列表</a>
		</div>
	</div>
	<div class="main">
		<form method="post">
			<table class="news-edit">
				<tr>
					<th>新闻标题：</th>
					<td><input type="text" name="title" placeholder="填写新闻标题..." /></td>
				</tr>
				<tr>
					<th>新闻内容：</th>
					<td><textarea name="content" placeholder="填写新闻内容..."></textarea></td>
				</tr>
				<tr>
					<th></th>
					<td><input type="submit" value="发布新闻" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>
</body>
</html>