body{margin:0;padding:0;}

.top{background-color:#E7FBFD;margin:10px;height:100px;text-align:center;min-width:760px;}

.main{margin:10px;overflow:hidden;min-width:760px;}
.main .left{width:18%;float:left;background-color:#E7FBFD;min-width:152px;}
.main .left ul{margin:35px auto;width:60%;padding:0;text-align:center;font:bold 18px 'KaiTi','KaiTi_GB2312';}
.main .left ul li{border-bottom: 1px dotted #ccc;line-height:50px;list-style-position: inside;}
.main .left .point{background:url('../images/point.png') no-repeat;width:122px;height:146px;margin:0 auto 30px;}

.content{width:80%;background-color:#E7FBFD;float:right;font:bold 18px 'KaiTi','KaiTi_GB2312';padding:20px 0;}

.crumbs{text-align:left;margin:20px 30px;margin-top:30px;font-size:16px;color:#666;}
.list{width:85%;margin:0 auto;text-align:center;}
.list th{border:1px solid #FDD1AE;height:50px;font-size:20px;color:#5DB9CE;background-color:#FDEADA;opacity:0.9;}
.list td{border:1px solid #FDD1AE;height:40px;font-size:18px;color:#444;background-color:#FDEADA;opacity:0.9;}
.list td a{font-size:13px;color:#5DB9CE;font-family:'Microsoft YaHei';text-decoration:none;}
.list td a:hover{color:#FA3818;text-decoration:underline;}

.page{text-align:center;margin-top:20px;margin-bottom:10px;}
.page a{text-decoration:none;color:#5DB9CE;}
.page a:hover{color:#FA3818;}

.face{overflow:hidden;text-align:center;margin:0 40px;margin-top:30px;}
.face i{background:url('../images/face.png');width:101px;height:75px;display:inline-block;}
.face-left{float:left;}
.face-right{float:right;}
.face-center{margin:0 auto;}

.detail{border:2px solid #FCD5B5;background:#FDEADA;float:left;line-height:40px;margin:20px;position:relative;}
.detail table{margin:20px 65px 40px;}
.detail table th{border-bottom:2px dotted #FAC090;padding-bottom:5px;}
.detail table td:nth-child(1){min-width:97px;}

.const span{line-height:60px;}
.const img{width:50px;height:50px;border-radius:50px;border:1px solid #74A4CD;vertical-align:middle;}
.labels span{padding:3px 6px;margin:0px 10px 10px 0px;font-family:'simsun'; text-align:center;color:#444;font-size:15px;white-space:nowrap;display:inline-block;line-height:20px;}
.labels .blue{background-color:#DEF2FE;border:1px solid #92E2FD; }
.labels .red{background-color:#FFCCBF;border:1px solid #F58A6E;}
.labels .yellow{background-color:#FEF6CE;border:1px solid #EAD483;}
.labels .green{background-color:#E7F2D0;border:1px solid #90D52D;}

.icon-top{width:40px;height:61px;position:absolute;top:0;margin-top:-15px;margin-left:-10px;background:url('../images/icon_top.png');background-size:100% auto;}
.icon-bottom{width:80px;height:39px;position:absolute;right:0;bottom:0;background:url('../images/icon_bottom.png');background-size:100% auto;}

.return{clear:both;margin-left:25px;}
.return a{color:#5DB9CE;}
