body{margin:0;background:#f2f2f2;font-family:'Microsoft YaHei';color:#555;}
.box{width:795px;margin:20px auto;background:#fff;}
.title{padding:20px;border-bottom:1px solid #dadada;font-size:22px;color:#a84c10;text-align:center;}
.list{padding:5px 0;}
.content{list-style:none;margin:0;padding:0;overflow:hidden;width:726px;margin:0 auto;}
.content li{float:left;text-align:center;padding:10px;border:1px solid #dadada;margin:10px;width:200px;height:140px;}
.content li p{margin:0;padding:5px;}
.content li p a{color:#007bc4;font-size:12px;text-decoration:none;}
.content li p a:hover{text-decoration:underline;}
.pagelist{padding:20px;border-top:1px solid #dadada;text-align:center;}
.pagelist span{margin-right:10px;}
.pagelist a{margin:0 5px;color:#007bc4;text-decoration:none;}
.pagelist a:hover{text-decoration:underline;}
